<body>
    <div id="header">
        <img src="../../assets/img/Header.png" width=100% height=100%>
    </div>
    <div id="center">
        <div id="menuleft">
            <recap-poulailler></recap-poulailler>
            <recap-poules></recap-poules>
        </div>
        <div id="main">
            <div id="SaisonList">
                <h1>Recap des saisons</h1>
               
                    <table width="60%">
                        <tr>
                            <th>Id Poulailler</th>
                            <th>Saison</th>
                            <th>Recap</th>
                            <th>Recap détaillé</th>
                        </tr>
                        <div id="menuAffichagePoulailler" >
                        <tr>
                            <td></td>
                            <td></td>
                            <td> Afficher la recap</td>
                            <td><strong>Etat du poulailler :</strong>
                                <b>Saison : </b>{{getSessionPoulailler().saison}} <br>
                                <b>Année : </b>{{getSessionPoulailler().annee}}<br>
                                <b>Oeufs : </b>{{getSessionPoulailler().oeufs}}<br>
                                <b>Poules : </b>{{getNbPoulesVivantes()}}<br>
                                <b>Sécurité :</b> {{getSessionPoulailler().securite}}<br>
                                <b>Taille : </b> {{getSessionPoulailler().taille}}<br>
                                <b>Nourriture :</b> {{getSessionPoulailler().nourriture}}<br>
                                <b>Afficher la recap détaillé</b>
                            </td>
                        </tr>
</div>
                    </table>
            </div>
        </div>
        <div id="menuright">
            <recap-utilisateur></recap-utilisateur>
            <menu></menu>
            <div id="recap">
                récap saison
            </div>
        </div>
    </div>
    <div id="footer">
        <img src="../../assets/img/footer.png" width=100% height=100%><img src="../../assets/img/footer.png" width=100%
            height=100%>
    </div>
</body>