<body>
    <div id="header">
        <img src="../../assets/img/Header.png" width=100% height=100%>
    </div>
    <div id="center">
        <div id="menuleft">
            <recap-poulailler></recap-poulailler>
            <recap-poules></recap-poules>
        </div>
        <div id="main">
            <p>recap-saison works!</p>
        </div>
        <div id="menuright">
            <recap-utilisateur></recap-utilisateur>
            <menu></menu>
            <div id="recap">
                récap saison
            </div>
        </div>
    </div>
    <div id="footer">
        <!-- <img src="../../assets/img/footer.png" width=100% height=100%><img src="../../assets/img/footer.png" width=100% height=100%> -->
    </div>
</body>

