#poulailler_et_recap
{
	display: inline-block;
	overflow:auto;
	background-color: rgb(110, 104, 104);
	color: rgb(205, 207, 189);
	border: solid rgb(205, 207, 189) 3px;
	border-radius: 2%;
	height: 400px;
	padding: 1%;
	margin: 1%;
	flex-direction: center;
	justify-content: space-between;
	align-items: center;
}

#screen
{
	display:inline-block;
	align-items:center;
	justify-content: center;
    margin-left: 5%;
	width: 50%;
	// float: right;
}

#recap{
    display:inline-block;
	align-items:column;
	justify-content: center;
}

#console
{
	display:inline-block;
	padding: 2%;
    margin-right: 5%;
	align-items:center;
	justify-content: center;
	// overflow-x: auto;
	// float: left;
}