#choix_param
{
    display: inline-flex;
	background-color: rgb(110, 104, 104);
	color: rgb(205, 207, 189);
	border: solid rgb(205, 207, 189) 3px;
	border-radius: 2%;
	width: 95%;
	height: 100%;
	padding: 2%;
    margin: 2%;
	overflow: auto;
    align-items: center;
	justify-content: center;
	flex-direction: column;
}

#choix_param div
{
	display: flex;
	color: rgb(205, 207, 189);
	padding: 7px;
	align-items:center;
	justify-content: space-around;
}


#choix_param input
{
	padding: 7px;
}

#couveusestable
{
	display: none;
}

#erreurOeufs
{
	color:#ec3c15;
}