#choixPoulailler
{
    display: inline-block;
	background-color: rgb(110, 104, 104);
	color: rgb(205, 207, 189);
	border: solid rgb(205, 207, 189) 3px;
	border-radius: 2%;
	width: 90%;
	height: 100%;
	padding: 4px;
    margin: 5px;
	overflow: auto;
    align-items:center;
	justify-content: center;
}