<div id="choixPoulailler">
<h1> Gestion de vos poulaillers </h1>

<table>
    <tr>
        <td>
            <select (change)="changerPoulailler()" [(ngModel)]="poulaillerActuel" >
            <option *ngFor="let poulailler of getAllPoulailler()" [value]="poulailler.id">{{poulailler.id}} {{poulailler.nom}}
            </option>
            </select>
        </td>
        <td>
            <button type="button" class="btn btn-danger" (click)="supprimerPoulailler()">Supprimer poulailler</button>
        </td>
    </tr>

    <tr>
        <td> <label> Nom du nouveau poulailler : <input name="nomPoulailler" type="text" min="0" max="8" step="1"
            placeholder="Nom poulailler" [(ngModel)]="nomPoulailler"> </label> 
        </td>
        <td>
            <input value="Créer poulailler" type="submit" class="btn btn-success" (click)="creerPoulailler()" [disabled]="nomPoulailler == null || nomPoulailler==''"> 
        </td>
    </tr>

</table>

</div>