<div id="choixPoulailler">
    <h5> Gestion de vos poulaillers </h5>

    <div>
        <select (change)="changerPoulailler()" [(ngModel)]="poulaillerActuel">
            <option *ngFor="let poulailler of getAllPoulailler()" [value]="poulailler.id">{{poulailler.id}}
                {{poulailler.nom}}
            </option>
        </select>
    </div>
    <div>
        <button type="button" class="btn btn-danger" (click)="supprimerPoulailler()">Supprimer poulailler</button>
    </div>
    <div>
        <label> Nom du nouveau poulailler : <input name="nomPoulailler" type="text" min="0" max="8" step="1"
                placeholder="Nom poulailler" [(ngModel)]="nomPoulailler"> </label>
    </div>
    <div>
        <input value="Créer poulailler" type="submit" class="btn btn-success" (click)="creerPoulailler()"
            [disabled]="nomPoulailler == null || nomPoulailler==''">
    </div>
</div>