<div id="poulailler" *ngIf="getSessionPoulailler()">
    <div id="gauche">
        <div><img src="../../assets/img/poullailer_niveau_{{getSessionPoulailler().securite}}.png" width="200"
                height=auto></div>
        <div><br>{{getSessionPoulailler().nom}}</div>
    </div>
    <div id="droite">
        <div><b>Saison : </b>{{getSessionPoulailler().saison}} <br></div>
        <div><b>Année : </b>{{getSessionPoulailler().annee}}<br></div>
        <div><b>Oeufs : </b>{{getSessionPoulailler().oeufs}}<br></div>
        <div><b>Poules : </b>{{getNbPoulesVivantes()}}<br></div>
        <div><b>Sécurité :</b> {{getSessionPoulailler().securite}}<br></div>
        <div><b>Taille : </b> {{getSessionPoulailler().taille}}<br></div>
        <div><b>Nourriture :</b> {{getSessionPoulailler().nourriture}}<br></div>
    </div>
</div>