<div id="poulailler">
    <table *ngIf="poulailler">
        <tr>
            <td>
                <img src="../../assets/img/poullailer_niveau_{{poulailler.securite}}.png" width="120" height=auto>
            </td>
            <td  rowspan="2">
                <ul>
                    <li><b>Saison : </b>{{poulailler.saison}}</li>
                    <li><b>Année : </b>{{poulailler.annee}}</li>
                    <li><b>Nombre d'oeufs : </b>{{poulailler.oeufs}}</li>
                    <li><b>Nombre de poules : </b>{{getNbPoules()}}</li>
                    <li><b>Niveau de sécurité :</b> {{poulailler.securite}}</li>
                    <li><b>Taille de poulailler : </b> {{poulailler.taille}}</li>
                    <li><b>Nourriture :</b> {{poulailler.nourriture}} </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td id="poulaillerNom">{{poulailler.nom}}</td>
        </tr>
    </table>
</div>