<div id="menu">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                aria-controls="v-pills-home" aria-selected="false" [routerLink]="['/home']"
                routerLinkActive="active">Accueil</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-pouleDetails" role="tab"
                aria-controls="v-pills-pouleDetails" aria-selected="false" [routerLink]="['/detailsPoule']"
                routerLinkActive="active">Détail des Poules</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-historique" role="tab"
                aria-controls="v-pills-historique" aria-selected="false" [routerLink]="['/historique']"
                routerLinkActive="active">Historique de la saison
                dernière</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-Guide" role="tab"
                aria-controls="v-pills-Guide" aria-selected="false" [routerLink]="['/guide']"
                routerLinkActive="active">Guide</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-trophees" role="tab"
                aria-controls="v-pills-trophees" aria-selected="false" [routerLink]="['/trophees']"
                routerLinkActive="active">Trophées</a>
        </div>
</div>