<div id="poules" *ngIf=" getSessionPoulailler()">
    <table>
        <tr *ngIf="getNbPoussins() != 0">
            <td>
                <img src="../../assets/img/poussin.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <strong>poussins : </strong> {{getNbPoussins()}} individus
                </ul>
            </td>
        </tr>
        <tr *ngIf="getNbPoulesInsouciantes() != 0">
            <td>
                <img src="../../assets/img/PouleInsouciante.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <strong>Insouciantes : </strong> {{getNbPoulesInsouciantes()}} poules<br>
                    Bonheur moyen : {{getBonheurMoyen("insouciante")}}%<br>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                            [ngStyle]="{'width.%': getBonheurMoyen('insouciante')}" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    Couveuses : {{getNbPoulesCouveusesByTemperament("insouciante")}} poules<br>
                    Maternantes: {{getNbPoulesMaternageByTemperament("insouciante")}} poules
                </ul>
            </td>
        </tr>
        <tr *ngIf="getNbPoulesSerieuses() != 0">
            <td>
                <img src="../../assets/img/PouleSerieuse.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <strong>Serieuses : </strong> {{getNbPoulesSerieuses()}} poules<br>
                    Bonheur moyen : {{getBonheurMoyen("serieuse")}}%<br>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                            [ngStyle]="{'width.%': getBonheurMoyen('serieuse')}" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    Couveuses : {{getNbPoulesCouveusesByTemperament("serieuse")}} poules<br>
                    Maternantes: {{getNbPoulesMaternageByTemperament("serieuse")}} poules
                </ul>
            </td>
        </tr>
        <tr *ngIf="getNbPoulesMamansPoule() != 0">
            <td>
                <img src="../../assets/img/PouleMamanpoule.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <strong>Mamans Poule : </strong> {{getNbPoulesMamansPoule()}} poules<br>
                    Bonheur moyen : {{getBonheurMoyen("mamanPoule")}}%<br>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                            [ngStyle]="{'width.%': getBonheurMoyen('mamanPoule')}" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    Couveuses : {{getNbPoulesCouveusesByTemperament("mamanPoule")}} poules<br>
                    Maternantes: {{getNbPoulesMaternageByTemperament("mamanPoule")}} poules
                </ul>
            </td>
        </tr>
        <tr *ngIf="getNbPoulesPsychopathes() != 0">
            <td>
                <img src="../../assets/img/PoulePsychopathe.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <strong>Psychopathes : </strong> {{getNbPoulesPsychopathes()}} poules<br>
                    Bonheur moyen : {{getBonheurMoyen("psychopathe")}}%<br>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                            [ngStyle]="{'width.%': getBonheurMoyen('psychopathe')}" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    Couveuses : {{getNbPoulesCouveusesByTemperament("psychopathe")}} poules<br>
                    Maternantes: {{getNbPoulesMaternageByTemperament("psychopathe")}} poules
                </ul>
            </td>
        </tr>
        <tr *ngIf="getNbPoulesPyromanes() != 0">
            <td>
                <img src="../../assets/img/PoulePyromane.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <strong>Pyromanes : </strong> {{getNbPoulesPyromanes()}} poules <br>
                    Bonheur moyen : {{getBonheurMoyen("pyromane")}}% <br>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                            [ngStyle]="{'width.%': getBonheurMoyen('pyromane')}" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    Couveuses : {{getNbPoulesCouveusesByTemperament("pyromane")}} poules<br>
                    Maternantes: {{getNbPoulesMaternageByTemperament("pyromane")}} poules
                </ul>
            </td>
        </tr>
        <tr *ngIf="getNbPoulesCoq() != 0">
            <td>
                <img src="../../assets/img/coq.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <strong>Coq : </strong> {{getNbPoulesCoq()}} coqs
                </ul>
            </td>
        </tr>
    </table>
</div>