<div id="poules">
    <table>
        <tr>
            <td>
                <img src="../../assets/img/poussin.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <li><strong>poussins : </strong> n individus</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <img src="../../assets/img/PouleInsouciante.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <li><strong>Insouciantes : </strong> n poules</li>
                    <li>Bonheur moyen : x %</li>
                    <li>Couveuses : n poules</li>
                    <li>Maternantes: n poules</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <img src="../../assets/img/PouleSerieuse.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <li><strong>Serieuses : </strong> n poules</li>
                    <li>Bonheur moyen : x %</li>
                    <li>Couveuses : n poules</li>
                    <li>Maternantes: n poules</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <img src="../../assets/img/MamanPoule.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <li><strong>Mamans Poule : </strong> n poules</li>
                    <li>Bonheur moyen : x %</li>
                    <li>Couveuses : n poules</li>
                    <li>Maternantes: n poules</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <img src="../../assets/img/PoulePsychopathe.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <li><strong>Psychopathes : </strong> n poules</li>
                    <li>Bonheur moyen : x %</li>
                    <li>Couveuses : n poules</li>
                    <li>Maternantes: n poules</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <img src="../../assets/img/PoulePyromane.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <li><strong>Pyromanes : </strong> n poules</li>
                    <li>Bonheur moyen : x %</li>
                    <li>Couveuses : n poules</li>
                    <li>Maternantes: n poules</li>
                </ul>
            </td>
        </tr>
    </table>
</div>