<div id="poules" *ngIf="poulailler">
    <table>
        <tr *ngIf="getNbPoussins() != 0">
            <td>
                <img src="../../assets/img/poussin.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <li><strong>poussins : </strong> {{getNbPoussins()}} individus</li>
                </ul>
            </td>
        </tr>
        <tr *ngIf="getNbPoulesInsouciantes() != 0">
            <td>
                <img src="../../assets/img/PouleInsouciante.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <li><strong>Insouciantes : </strong> {{getNbPoulesInsouciantes()}} poules</li>
                    <li>Bonheur moyen : {{getBonheurMoyen("insouciante")}}%</li>
                    <li>Couveuses : {{getNbPoulesCouveusesByTemperament("insouciante")}} poules</li>
                    <li>Maternantes: {{getNbPoulesMaternageByTemperament("insouciante")}} poules</li>
                </ul>
            </td>
        </tr>
        <tr *ngIf="getNbPoulesSerieuses() != 0">
            <td>
                <img src="../../assets/img/PouleSerieuse.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <li><strong>Serieuses : </strong> {{getNbPoulesSerieuses()}} poules</li>
                    <li>Bonheur moyen : {{getBonheurMoyen("serieuse")}}%</li>
                    <li>Couveuses : {{getNbPoulesCouveusesByTemperament("serieuse")}} poules</li>
                    <li>Maternantes: {{getNbPoulesMaternageByTemperament("serieuse")}} poules</li>
                </ul>
            </td>
        </tr>
        <tr *ngIf="getNbPoulesMamansPoule() != 0">
            <td>
                <img src="../../assets/img/MamanPoule.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <li><strong>Mamans Poule : </strong> {{getNbPoulesMamansPoule()}} poules</li>
                    <li>Bonheur moyen : {{getBonheurMoyen("mamanPoule")}}%</li>
                    <li>Couveuses : {{getNbPoulesCouveusesByTemperament("mamanPoule")}} poules</li>
                    <li>Maternantes: {{getNbPoulesMaternageByTemperament("mamanPoule")}} poules</li>
                </ul>
            </td>
        </tr>
        <tr *ngIf="getNbPoulesPsychopathes() != 0">
            <td>
                <img src="../../assets/img/PoulePsychopathe.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <li><strong>Psychopathes : </strong> {{getNbPoulesPsychopathes()}} poules</li>
                    <li>Bonheur moyen : {{getBonheurMoyen("psychopathe")}}%</li>
                    <li>Couveuses : {{getNbPoulesCouveusesByTemperament("psychopathe")}} poules</li>
                    <li>Maternantes: {{getNbPoulesMaternageByTemperament("psychopathe")}} poules</li>
                </ul>
            </td>
        </tr>
        <tr *ngIf="getNbPoulesPyromanes() != 0">
            <td>
                <img src="../../assets/img/PoulePyromane.png" width="auto" height=100>
            </td>
            <td>
                <ul>
                    <li><strong>Pyromanes : </strong> {{getNbPoulesPyromanes()}} poules</li>
                    <li>Bonheur moyen : {{getBonheurMoyen("pyromane")}}%</li>
                    <li>Couveuses : {{getNbPoulesCouveusesByTemperament("pyromane")}} poules</li>
                    <li>Maternantes: {{getNbPoulesMaternageByTemperament("pyromane")}} poules</li>
                </ul>
            </td>
        </tr>
    </table>
</div>