.entrer {
    height: 80vh;
    background-size : 100% 100%;
    background-image: url('../../assets/img/happyChick2.png'); 
    height: 100%;
   }
  
   .play{
    display: flex;
    justify-content: center;
    padding-top: 35%;
    padding-bottom: 10%;
    align-items: center;
   }