<title>HappyChick-home</title>

<body>
    <div id="header">
        <img src="../../assets/img/Header.png" width=100% height=100%>
    </div>

    <div id="center">
        <img src="../../assets/img/pixel/pixelCheffeGauche.png" id="pouleMouvante">
        <div id="menuleft">
            <recap-poulailler></recap-poulailler>
          <recap-poules></recap-poules>
        </div>
        <div id="main">
            
            <choix-poulailler></choix-poulailler>

            <div id="poulailler_et_recap">
                <div id="screen">
                    <img src="../../assets/img/poullailer_niveau_1.png" width=75% height=auto>
                </div>
                <div id="console">
                    Bienvenue dans votre poulailler dont vous allez être poule en chef. Vous avez découvert dans un
                    fossé 5 oeufs qui viennent d'éclore, et qui ont donné naissance à 5 magnifiques poussins. Vous avez
                    également reçu un un don anonyme de 10 portions de nourriture pour lancer votre activité.
                </div>
            </div>
            <poulailler></poulailler>
        </div>
        <div id="menuright">
            <recap-utilisateur></recap-utilisateur>
            <menu></menu>
            <div id="recap">
                récap saison
            </div>
        </div>
    </div>
    <div id="footer">
        <img src="../../assets/img/footer.png" width=100% height=100%>
    </div>
</body>
<script type="text/javascript" src="js/poule_bouge.js"></script>
