<title>HappyChick-home</title>

<body>

    <div id="header">
        <img src="../../assets/img/Header.png" width=100% height=100%>
    </div>

    <div id="center">
        <img src="../../assets/img/pixel/pixelCheffeGauche.png" id="pouleMouvante">
        <div id="menuleft">
            <recap-poulailler></recap-poulailler>
            <recap-poules></recap-poules>
        </div>
        <div id="main">

            <div id="poulailler_et_recap">
                <div id="screen">
                    <img src="../../assets/img/poullailer_niveau_1.png" width=75% height=auto>
                </div>
                <div id="console">
                    Bienvenue dans votre poulailler dont vous allez être poule en chef. Vous avez découvert dans un
                    fossé 5 oeufs qui viennent d'éclore, et qui ont donné naissance à 5 magnifiques poussins. Vous avez
                    également reçu un un don anonyme de 10 portions de nourriture pour lancer votre activité.
                </div>
            </div>
            <div id="choix_param">
                <h3>Quels sont vos choix pour cette saison ?</h3>
                <p> Oeufs totaux : <span id="totalOeuf"> 550 </span> Oeufs dispos : <span id="oeufsDispos"> 550 </span>
                </p>
                <form method="get">
                    <table>
                        <tr>
                            <td>Achat de nourriture</td>
                            <td><input id="nourritureAchat" name="nourritureAchat" type="number" value="0" min="0"
                                    step="1"></td>
                            <td>Amélioration du poulailler</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td><input name="securite" value="securite" id="securite" type="checkbox"> <label
                                    for="securite">Sécurité</label> <input name="taille" value="taille" id="taille"
                                    type="checkbox"> <label for="taille">Taille</label></td>
                        </tr>
                        <tr>
                            <td>Choix de l'activité de la saison</td>
                            <td><input name="activite" value="SortieG" id="SortieG" type="radio" checked> <label
                                    for="SortieG">Sortie Générale</label> <input name="activite" value="Escrime"
                                    id="Escrime" type="radio"> <label for="Escrime">Escrime</label> <input
                                    name="activite" value="Tricot" id="tricot" type="radio"> <label
                                    for="tricot">Tricot</label> <input name="activite" value="Danse" id="danse"
                                    type="radio"> <label for="danse">Danse</label></td>
                        </tr>
                    </table><br>
                    <fieldset>
                        <legend>Couvaisons<span class="badge badge-info">Plus d'informations</span></legend>
                        <table>

                            <tr>
                                <td>Choix des poules qui vont couver</td>
                                <td>
                                    <select name="couveuses" placeholder="poule à couver">
                                        <option value="1">1-Germaine (psychopathe)</option>
                                        <option value="2">2-Clémence (Serieuse)</option>
                                        <option value="3">3-Marie-Emmanuelle (Maman-poule)</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Nombre d'oeufs à couver</td>
                                <td><input name="nbOeufsCouves" type="number" value="0" min="0" max="8" step="1"
                                        placeholder="nombres d'oeufs à couver"></td>
                                <td><button type="button" class="btn btn-primary">Ajouter Poule</button></td>
                                <td><button type="button" id="afficherCouveuses" class="btn btn-info">Afficher les
                                        poules selectionées</button></td>
                            </tr>

                        </table>
                    </fieldset>
                    <div id="couveusestable">
                        <h5>Poule qui couvent</h5>
                        <table class="table table-dark table-striped">
                            <tr>
                                <td>id</td>
                                <td>nom</td>
                                <td>tempérament</td>
                                <td>nombre d'oeufs</td>
                            </tr>
                        </table>
                    </div>
                    <input type="submit" class="btn btn-success"> <button type="button"
                        class="btn btn-warning">Reinitialiser</button>
                </form>
            </div>
        </div>
        <div id="menuright">
            <recap-utilisateur></recap-utilisateur>
            <menu></menu>
            <div id="recap">
                récap saison
            </div>
        </div>
    </div>
    <div id="footer">
        <img src="../../assets/img/footer.png" width=100% height=100%>
    </div>
</body>

<script type="text/javascript" src="js/gestion_oeufs.js"></script>
<script type="text/javascript" src="js/poule_bouge.js"></script>

<script>
    afficherCouveuses.onclick = afficherCouv;

    function afficherCouv() {
        // couveusestable.style.display="contents";
        if (couveusestable.style.display == "none") {
            couveusestable.style.display = "contents";
            afficherCouveuses.innerHTML = "Cacher les poules selectionées";
        } else {
            couveusestable.style.display = "none";
            afficherCouveuses.innerHTML = "Afficher les poules selectionées";
        }
    }
</script>